p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: #F6C5BB;
}


.nav-bar{
    width: 25%;
    position: fixed;
    z-index: 1;
    
}

.nav-bar ul{
    list-style-type: none;
    margin: 10px 10% 20px 10%;
    padding: 0;
}

.nav-bar li{
    text-decoration: none;
    margin: 0 0 5px 0;
}

.nav-bar li a{
    padding: 6px 8px 6px 0;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
    color: #F6C5BB;
}

.nav-bar li a:hover{
    color: #FDEAE5;
}

.logo{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
}

.nav-bar h1{
    font-size: 1.5em;
    border-bottom: 5px solid #FDEAE5;
    display: inline-block;
    padding: 0 3.5em 0 0;
    margin-left: 10%;
    margin-top: 0;
    font-weight: 200;
}

.nav-bar p{
    font-size: 1.2em;
    display: inline-block;
    margin: 5px 10% 10px 10%; 
}

.gallery{
    margin-left: 25%;
    padding: 0 10px;
}

.gallery h1 {
    font-size: 2em;
    border-bottom: 5px solid #E3DED4;
    display: inline-block;
    padding: 0 65% 0 0;
    margin: 20px 0 0 20px;
    font-weight: 300;
    color: #F6C5BB;
}

.gal-container{
    margin: 0 20% 0 20px;
    max-width: 1200px;
}

.responsive-img{
    max-width: 100%;
}

.gal-cell{
    margin: 5px;
}

.gal-cell img{
    display:block;
}

.gallery video{
    display:block;
    margin: 0 10%;
    width: 100%;
    height: auto;
}

/*tablet*/
@media screen and (min-width: 600px){
    .gal-grid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .gal-cell{
        width: calc(50%-10px);
    }
}

/*desktop*/
@media screen and (min-width: 1000px){
    .gal-cell{
        width: calc(33.333333%-10px);
    }
}